.header-main {
    margin: 0;
    padding: 0;
    overflow: hidden;
    background: linear-gradient(to right, #7f04bd86, #d1546b49);
}
.header__text {
    text-align: center;
    color: rgb(190, 190, 190);
}
.navbar_li {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

.navbar_li {
    float: left;
}

.navbar_li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.navbar_li a:hover {
    background-color: #111;
}

.sidebar_ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 10%;
    background: linear-gradient(to bottom, #333, #d4d4d42a);
    position: fixed;
    height: 100%;
    overflow: auto;
}

.sidebar_li a {
    display: block;
    color: rgb(204, 204, 204);
    padding: 8px 16px;
    text-decoration: none;
}

.sidebar_li a.active {
    background-color: #4CAF50;
    color: white;
}

.sidebar_li a:hover:not(.active) {
    background-color: #555;
    color: white;
}




.footer-main {
    background-color: #555;
     position: fixed;
     right: 0;
     bottom: 0;
     text-align: center; 
     width: 100%;   
     font-size: 19px;
  font-weight: bold;
    color: #fafaff;  
}